<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.datangedu.cn.dao.mapper.AdministratorMapper">
  <resultMap id="BaseResultMap" type="com.datangedu.cn.model.administrator.Administrator">
    <id column="ADMI_ID" jdbcType="VARCHAR" property="admiId" />
    <result column="ADMI_PHONE" jdbcType="VARCHAR" property="admiPhone" />
    <result column="ADMI_PASSWORD" jdbcType="VARCHAR" property="admiPassword" />
    <result column="ADMI_NAME" jdbcType="VARCHAR" property="admiName" />
    <result column="ADMI_EMAIL" jdbcType="VARCHAR" property="admiEmail" />
    <result column="ADMI_STATE" jdbcType="INTEGER" property="admiState" />
    <result column="ADMI_CRETIME" jdbcType="TIMESTAMP" property="admiCretime" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.datangedu.cn.model.administrator.Administrator">
    <result column="ADMI_PORTRAIT" jdbcType="LONGVARBINARY" property="admiPortrait" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ADMI_ID, ADMI_PHONE, ADMI_PASSWORD, ADMI_NAME, ADMI_EMAIL, ADMI_STATE, ADMI_CRETIME
  </sql>
  <sql id="Blob_Column_List">
    ADMI_PORTRAIT
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.datangedu.cn.model.administrator.AdministratorExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from administrator
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.datangedu.cn.model.administrator.AdministratorExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from administrator
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from administrator
    where ADMI_ID = #{admiId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from administrator
    where ADMI_ID = #{admiId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.datangedu.cn.model.administrator.AdministratorExample">
    delete from administrator
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.datangedu.cn.model.administrator.Administrator">
    insert into administrator (ADMI_ID, ADMI_PHONE, ADMI_PASSWORD, 
      ADMI_NAME, ADMI_EMAIL, ADMI_STATE, 
      ADMI_CRETIME, ADMI_PORTRAIT)
    values (#{admiId,jdbcType=VARCHAR}, #{admiPhone,jdbcType=VARCHAR}, #{admiPassword,jdbcType=VARCHAR}, 
      #{admiName,jdbcType=VARCHAR}, #{admiEmail,jdbcType=VARCHAR}, #{admiState,jdbcType=INTEGER}, 
      #{admiCretime,jdbcType=TIMESTAMP}, #{admiPortrait,jdbcType=LONGVARBINARY})
  </insert>
  <insert id="insertSelective" parameterType="com.datangedu.cn.model.administrator.Administrator">
    insert into administrator
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="admiId != null">
        ADMI_ID,
      </if>
      <if test="admiPhone != null">
        ADMI_PHONE,
      </if>
      <if test="admiPassword != null">
        ADMI_PASSWORD,
      </if>
      <if test="admiName != null">
        ADMI_NAME,
      </if>
      <if test="admiEmail != null">
        ADMI_EMAIL,
      </if>
      <if test="admiState != null">
        ADMI_STATE,
      </if>
      <if test="admiCretime != null">
        ADMI_CRETIME,
      </if>
      <if test="admiPortrait != null">
        ADMI_PORTRAIT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="admiId != null">
        #{admiId,jdbcType=VARCHAR},
      </if>
      <if test="admiPhone != null">
        #{admiPhone,jdbcType=VARCHAR},
      </if>
      <if test="admiPassword != null">
        #{admiPassword,jdbcType=VARCHAR},
      </if>
      <if test="admiName != null">
        #{admiName,jdbcType=VARCHAR},
      </if>
      <if test="admiEmail != null">
        #{admiEmail,jdbcType=VARCHAR},
      </if>
      <if test="admiState != null">
        #{admiState,jdbcType=INTEGER},
      </if>
      <if test="admiCretime != null">
        #{admiCretime,jdbcType=TIMESTAMP},
      </if>
      <if test="admiPortrait != null">
        #{admiPortrait,jdbcType=LONGVARBINARY},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.datangedu.cn.model.administrator.AdministratorExample" resultType="java.lang.Long">
    select count(*) from administrator
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update administrator
    <set>
      <if test="record.admiId != null">
        ADMI_ID = #{record.admiId,jdbcType=VARCHAR},
      </if>
      <if test="record.admiPhone != null">
        ADMI_PHONE = #{record.admiPhone,jdbcType=VARCHAR},
      </if>
      <if test="record.admiPassword != null">
        ADMI_PASSWORD = #{record.admiPassword,jdbcType=VARCHAR},
      </if>
      <if test="record.admiName != null">
        ADMI_NAME = #{record.admiName,jdbcType=VARCHAR},
      </if>
      <if test="record.admiEmail != null">
        ADMI_EMAIL = #{record.admiEmail,jdbcType=VARCHAR},
      </if>
      <if test="record.admiState != null">
        ADMI_STATE = #{record.admiState,jdbcType=INTEGER},
      </if>
      <if test="record.admiCretime != null">
        ADMI_CRETIME = #{record.admiCretime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.admiPortrait != null">
        ADMI_PORTRAIT = #{record.admiPortrait,jdbcType=LONGVARBINARY},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update administrator
    set ADMI_ID = #{record.admiId,jdbcType=VARCHAR},
      ADMI_PHONE = #{record.admiPhone,jdbcType=VARCHAR},
      ADMI_PASSWORD = #{record.admiPassword,jdbcType=VARCHAR},
      ADMI_NAME = #{record.admiName,jdbcType=VARCHAR},
      ADMI_EMAIL = #{record.admiEmail,jdbcType=VARCHAR},
      ADMI_STATE = #{record.admiState,jdbcType=INTEGER},
      ADMI_CRETIME = #{record.admiCretime,jdbcType=TIMESTAMP},
      ADMI_PORTRAIT = #{record.admiPortrait,jdbcType=LONGVARBINARY}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update administrator
    set ADMI_ID = #{record.admiId,jdbcType=VARCHAR},
      ADMI_PHONE = #{record.admiPhone,jdbcType=VARCHAR},
      ADMI_PASSWORD = #{record.admiPassword,jdbcType=VARCHAR},
      ADMI_NAME = #{record.admiName,jdbcType=VARCHAR},
      ADMI_EMAIL = #{record.admiEmail,jdbcType=VARCHAR},
      ADMI_STATE = #{record.admiState,jdbcType=INTEGER},
      ADMI_CRETIME = #{record.admiCretime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.datangedu.cn.model.administrator.Administrator">
    update administrator
    <set>
      <if test="admiPhone != null">
        ADMI_PHONE = #{admiPhone,jdbcType=VARCHAR},
      </if>
      <if test="admiPassword != null">
        ADMI_PASSWORD = #{admiPassword,jdbcType=VARCHAR},
      </if>
      <if test="admiName != null">
        ADMI_NAME = #{admiName,jdbcType=VARCHAR},
      </if>
      <if test="admiEmail != null">
        ADMI_EMAIL = #{admiEmail,jdbcType=VARCHAR},
      </if>
      <if test="admiState != null">
        ADMI_STATE = #{admiState,jdbcType=INTEGER},
      </if>
      <if test="admiCretime != null">
        ADMI_CRETIME = #{admiCretime,jdbcType=TIMESTAMP},
      </if>
      <if test="admiPortrait != null">
        ADMI_PORTRAIT = #{admiPortrait,jdbcType=LONGVARBINARY},
      </if>
    </set>
    where ADMI_ID = #{admiId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.datangedu.cn.model.administrator.Administrator">
    update administrator
    set ADMI_PHONE = #{admiPhone,jdbcType=VARCHAR},
      ADMI_PASSWORD = #{admiPassword,jdbcType=VARCHAR},
      ADMI_NAME = #{admiName,jdbcType=VARCHAR},
      ADMI_EMAIL = #{admiEmail,jdbcType=VARCHAR},
      ADMI_STATE = #{admiState,jdbcType=INTEGER},
      ADMI_CRETIME = #{admiCretime,jdbcType=TIMESTAMP},
      ADMI_PORTRAIT = #{admiPortrait,jdbcType=LONGVARBINARY}
    where ADMI_ID = #{admiId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.datangedu.cn.model.administrator.Administrator">
    update administrator
    set ADMI_PHONE = #{admiPhone,jdbcType=VARCHAR},
      ADMI_PASSWORD = #{admiPassword,jdbcType=VARCHAR},
      ADMI_NAME = #{admiName,jdbcType=VARCHAR},
      ADMI_EMAIL = #{admiEmail,jdbcType=VARCHAR},
      ADMI_STATE = #{admiState,jdbcType=INTEGER},
      ADMI_CRETIME = #{admiCretime,jdbcType=TIMESTAMP}
    where ADMI_ID = #{admiId,jdbcType=VARCHAR}
  </update>
  
  <select id="selectBylike" parameterType="com.datangedu.cn.model.administrator.AdministratorExample" resultMap="BaseResultMap">
    SELECT * FROM administrator WHERE ADMI_NAME LIKE '%${likeName}%'
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="pageSize >=0">
      limit ${pageSize},${pageNum}
    </if>
  </select>
  
  
</mapper>