<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.datangedu.cn.dao.mapper.CustomersMapper">
  <resultMap id="BaseResultMap" type="com.datangedu.cn.model.customers.Customers">
    <id column="CUST_ID" jdbcType="VARCHAR" property="custId" />
    <result column="CUST_NAME" jdbcType="VARCHAR" property="custName" />
    <result column="CUST_SEX" jdbcType="VARCHAR" property="custSex" />
    <result column="CUST_PHONE" jdbcType="VARCHAR" property="custPhone" />
    <result column="CUST_REGION" jdbcType="VARCHAR" property="custRegion" />
    <result column="CUST_STARTTIME" jdbcType="TIMESTAMP" property="custStarttime" />
    <result column="CUST_EMAIL" jdbcType="VARCHAR" property="custEmail" />
    <result column="CUST_NUMBER" jdbcType="INTEGER" property="custNumber" />
    <result column="CUST_PRICE" jdbcType="INTEGER" property="custPrice" />
    <result column="CUST_STATE" jdbcType="INTEGER" property="custState" />
    <result column="CUST_PASSWORD" jdbcType="VARCHAR" property="custPassword" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.datangedu.cn.model.customers.Customers">
    <result column="CUST_PORTRAIT" jdbcType="LONGVARBINARY" property="custPortrait" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    CUST_ID, CUST_NAME, CUST_SEX, CUST_PHONE, CUST_REGION, CUST_STARTTIME, CUST_EMAIL, 
    CUST_NUMBER, CUST_PRICE, CUST_STATE, CUST_PASSWORD
  </sql>
  <sql id="Blob_Column_List">
    CUST_PORTRAIT
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.datangedu.cn.model.customers.CustomersExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from customers
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.datangedu.cn.model.customers.CustomersExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from customers
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from customers
    where CUST_ID = #{custId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from customers
    where CUST_ID = #{custId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.datangedu.cn.model.customers.CustomersExample">
    delete from customers
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.datangedu.cn.model.customers.Customers">
    insert into customers (CUST_ID, CUST_NAME, CUST_SEX, 
      CUST_PHONE, CUST_REGION, CUST_STARTTIME, 
      CUST_EMAIL, CUST_NUMBER, CUST_PRICE, 
      CUST_STATE, CUST_PASSWORD, CUST_PORTRAIT
      )
    values (#{custId,jdbcType=VARCHAR}, #{custName,jdbcType=VARCHAR}, #{custSex,jdbcType=VARCHAR}, 
      #{custPhone,jdbcType=VARCHAR}, #{custRegion,jdbcType=VARCHAR}, #{custStarttime,jdbcType=TIMESTAMP}, 
      #{custEmail,jdbcType=VARCHAR}, #{custNumber,jdbcType=INTEGER}, #{custPrice,jdbcType=INTEGER}, 
      #{custState,jdbcType=INTEGER}, #{custPassword,jdbcType=VARCHAR}, #{custPortrait,jdbcType=LONGVARBINARY}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.datangedu.cn.model.customers.Customers">
    insert into customers
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="custId != null">
        CUST_ID,
      </if>
      <if test="custName != null">
        CUST_NAME,
      </if>
      <if test="custSex != null">
        CUST_SEX,
      </if>
      <if test="custPhone != null">
        CUST_PHONE,
      </if>
      <if test="custRegion != null">
        CUST_REGION,
      </if>
      <if test="custStarttime != null">
        CUST_STARTTIME,
      </if>
      <if test="custEmail != null">
        CUST_EMAIL,
      </if>
      <if test="custNumber != null">
        CUST_NUMBER,
      </if>
      <if test="custPrice != null">
        CUST_PRICE,
      </if>
      <if test="custState != null">
        CUST_STATE,
      </if>
      <if test="custPassword != null">
        CUST_PASSWORD,
      </if>
      <if test="custPortrait != null">
        CUST_PORTRAIT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="custId != null">
        #{custId,jdbcType=VARCHAR},
      </if>
      <if test="custName != null">
        #{custName,jdbcType=VARCHAR},
      </if>
      <if test="custSex != null">
        #{custSex,jdbcType=VARCHAR},
      </if>
      <if test="custPhone != null">
        #{custPhone,jdbcType=VARCHAR},
      </if>
      <if test="custRegion != null">
        #{custRegion,jdbcType=VARCHAR},
      </if>
      <if test="custStarttime != null">
        #{custStarttime,jdbcType=TIMESTAMP},
      </if>
      <if test="custEmail != null">
        #{custEmail,jdbcType=VARCHAR},
      </if>
      <if test="custNumber != null">
        #{custNumber,jdbcType=INTEGER},
      </if>
      <if test="custPrice != null">
        #{custPrice,jdbcType=INTEGER},
      </if>
      <if test="custState != null">
        #{custState,jdbcType=INTEGER},
      </if>
      <if test="custPassword != null">
        #{custPassword,jdbcType=VARCHAR},
      </if>
      <if test="custPortrait != null">
        #{custPortrait,jdbcType=LONGVARBINARY},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.datangedu.cn.model.customers.CustomersExample" resultType="java.lang.Long">
    select count(*) from customers
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update customers
    <set>
      <if test="record.custId != null">
        CUST_ID = #{record.custId,jdbcType=VARCHAR},
      </if>
      <if test="record.custName != null">
        CUST_NAME = #{record.custName,jdbcType=VARCHAR},
      </if>
      <if test="record.custSex != null">
        CUST_SEX = #{record.custSex,jdbcType=VARCHAR},
      </if>
      <if test="record.custPhone != null">
        CUST_PHONE = #{record.custPhone,jdbcType=VARCHAR},
      </if>
      <if test="record.custRegion != null">
        CUST_REGION = #{record.custRegion,jdbcType=VARCHAR},
      </if>
      <if test="record.custStarttime != null">
        CUST_STARTTIME = #{record.custStarttime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.custEmail != null">
        CUST_EMAIL = #{record.custEmail,jdbcType=VARCHAR},
      </if>
      <if test="record.custNumber != null">
        CUST_NUMBER = #{record.custNumber,jdbcType=INTEGER},
      </if>
      <if test="record.custPrice != null">
        CUST_PRICE = #{record.custPrice,jdbcType=INTEGER},
      </if>
      <if test="record.custState != null">
        CUST_STATE = #{record.custState,jdbcType=INTEGER},
      </if>
      <if test="record.custPassword != null">
        CUST_PASSWORD = #{record.custPassword,jdbcType=VARCHAR},
      </if>
      <if test="record.custPortrait != null">
        CUST_PORTRAIT = #{record.custPortrait,jdbcType=LONGVARBINARY},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update customers
    set CUST_ID = #{record.custId,jdbcType=VARCHAR},
      CUST_NAME = #{record.custName,jdbcType=VARCHAR},
      CUST_SEX = #{record.custSex,jdbcType=VARCHAR},
      CUST_PHONE = #{record.custPhone,jdbcType=VARCHAR},
      CUST_REGION = #{record.custRegion,jdbcType=VARCHAR},
      CUST_STARTTIME = #{record.custStarttime,jdbcType=TIMESTAMP},
      CUST_EMAIL = #{record.custEmail,jdbcType=VARCHAR},
      CUST_NUMBER = #{record.custNumber,jdbcType=INTEGER},
      CUST_PRICE = #{record.custPrice,jdbcType=INTEGER},
      CUST_STATE = #{record.custState,jdbcType=INTEGER},
      CUST_PASSWORD = #{record.custPassword,jdbcType=VARCHAR},
      CUST_PORTRAIT = #{record.custPortrait,jdbcType=LONGVARBINARY}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update customers
    set CUST_ID = #{record.custId,jdbcType=VARCHAR},
      CUST_NAME = #{record.custName,jdbcType=VARCHAR},
      CUST_SEX = #{record.custSex,jdbcType=VARCHAR},
      CUST_PHONE = #{record.custPhone,jdbcType=VARCHAR},
      CUST_REGION = #{record.custRegion,jdbcType=VARCHAR},
      CUST_STARTTIME = #{record.custStarttime,jdbcType=TIMESTAMP},
      CUST_EMAIL = #{record.custEmail,jdbcType=VARCHAR},
      CUST_NUMBER = #{record.custNumber,jdbcType=INTEGER},
      CUST_PRICE = #{record.custPrice,jdbcType=INTEGER},
      CUST_STATE = #{record.custState,jdbcType=INTEGER},
      CUST_PASSWORD = #{record.custPassword,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.datangedu.cn.model.customers.Customers">
    update customers
    <set>
      <if test="custName != null">
        CUST_NAME = #{custName,jdbcType=VARCHAR},
      </if>
      <if test="custSex != null">
        CUST_SEX = #{custSex,jdbcType=VARCHAR},
      </if>
      <if test="custPhone != null">
        CUST_PHONE = #{custPhone,jdbcType=VARCHAR},
      </if>
      <if test="custRegion != null">
        CUST_REGION = #{custRegion,jdbcType=VARCHAR},
      </if>
      <if test="custStarttime != null">
        CUST_STARTTIME = #{custStarttime,jdbcType=TIMESTAMP},
      </if>
      <if test="custEmail != null">
        CUST_EMAIL = #{custEmail,jdbcType=VARCHAR},
      </if>
      <if test="custNumber != null">
        CUST_NUMBER = #{custNumber,jdbcType=INTEGER},
      </if>
      <if test="custPrice != null">
        CUST_PRICE = #{custPrice,jdbcType=INTEGER},
      </if>
      <if test="custState != null">
        CUST_STATE = #{custState,jdbcType=INTEGER},
      </if>
      <if test="custPassword != null">
        CUST_PASSWORD = #{custPassword,jdbcType=VARCHAR},
      </if>
      <if test="custPortrait != null">
        CUST_PORTRAIT = #{custPortrait,jdbcType=LONGVARBINARY},
      </if>
    </set>
    where CUST_ID = #{custId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.datangedu.cn.model.customers.Customers">
    update customers
    set CUST_NAME = #{custName,jdbcType=VARCHAR},
      CUST_SEX = #{custSex,jdbcType=VARCHAR},
      CUST_PHONE = #{custPhone,jdbcType=VARCHAR},
      CUST_REGION = #{custRegion,jdbcType=VARCHAR},
      CUST_STARTTIME = #{custStarttime,jdbcType=TIMESTAMP},
      CUST_EMAIL = #{custEmail,jdbcType=VARCHAR},
      CUST_NUMBER = #{custNumber,jdbcType=INTEGER},
      CUST_PRICE = #{custPrice,jdbcType=INTEGER},
      CUST_STATE = #{custState,jdbcType=INTEGER},
      CUST_PASSWORD = #{custPassword,jdbcType=VARCHAR},
      CUST_PORTRAIT = #{custPortrait,jdbcType=LONGVARBINARY}
    where CUST_ID = #{custId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.datangedu.cn.model.customers.Customers">
    update customers
    set CUST_NAME = #{custName,jdbcType=VARCHAR},
      CUST_SEX = #{custSex,jdbcType=VARCHAR},
      CUST_PHONE = #{custPhone,jdbcType=VARCHAR},
      CUST_REGION = #{custRegion,jdbcType=VARCHAR},
      CUST_STARTTIME = #{custStarttime,jdbcType=TIMESTAMP},
      CUST_EMAIL = #{custEmail,jdbcType=VARCHAR},
      CUST_NUMBER = #{custNumber,jdbcType=INTEGER},
      CUST_PRICE = #{custPrice,jdbcType=INTEGER},
      CUST_STATE = #{custState,jdbcType=INTEGER},
      CUST_PASSWORD = #{custPassword,jdbcType=VARCHAR}
    where CUST_ID = #{custId,jdbcType=VARCHAR}
  </update>
  <update id="saveCuImg" parameterType="com.datangedu.cn.model.customers.Customers">
    update customers set CUST_PORTRAIT = #{custPortrait} where CUST_PHONE = #{custPhone}
</update>
  
</mapper>