<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/public.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/service_setting.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/element-ui_2.12.0.css">

    <script src="/js/jquery-3.4.1.min.js"></script>
</head>

<body>
    <div class="header">
        <div class="logo_info">
            <img src="/images/logo.png" alt="logo">
            <span class="platform_name">信达</span>
        </div>
        <ul class="user_info">
            <li><a href="/toPage?url=service_product.html"><i class="fa fa-cog fa-fw"></i>服务管理</a></li>
            <li><i class="fa fa-shopping-cart fa-fw"></i>新订单(0)</li>
            <li><i class="fa fa-bell-o fa-fw"></i>通知(0)</li>
            <li>
                <img class = "imgshow" src = "/images/default_user.png" onerror="defaultImg(this)"/>
                <span class = "pvname"></span>
                <i class="fa fa-chevron-down fa-fw user-arrow-down"></i>
                <ul class="dropdown">
                    <li>更改信息</li>
                    <li>退出登录</li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="main">
        <ul class="main-nav">
            <li>
                <a >
                    <i class="fa fa-home fa-fw"></i>
                    <p>主页</p>
                </a>
            </li>
            <li>
                <a href="/toPage?url=service_orderform.html">
                    <i class="fa fa-shopping-cart fa-fw"></i>
                    <p>订单</p>
                </a>
            </li>
            <li>
                <a href="/toPage?url=service_expenses.html">
                    <i class="fa fa-cny fa-fw"></i>
                    <p>费用</p>
                </a>
            </li>
            <li>
                <a href="/toPage?url=service_store.html">
                    <i class="fa fa-institution fa-fw"></i>
                    <p>店铺</p>
                </a>
            </li>
            <li class="bg-red">
                <a href="/toPage?url=service_setting.html">
                    <i class="fa fa-cog fa-fw"></i>
                    <p>设置</p>
                </a>
            </li>
        </ul>
        <div class="main-details">
            <div class="main-top">
                <ul>
                    <li>
                        <i class="fa fa-home fa-fw"></i>
                    </li>
                    <li>设置</li>
                </ul>
            </div>
            <ul class="main-tab">
                <li class="border-red order1">服务商信息</li>
            </ul>
            <div class="main-content">
				<div class="avatars">
					<img class="imgshow" src="/images/default_user.png"
						onerror="defaultImg(this)" />
					<!-- <p>更换头像</p> -->
					<form  action="/service/saveServImg" method="post"
						enctype="multipart/form-data">
						<label for="file" class="btn btn-primary"
							style="float: left; height: 30px; width: 180px; margin-right: 20px">选择照片</label>
						<input id="file" name="file" type="file"
							style="float: left; display: none" />
						<div class="imgto"></div>
						<input class="btn btn-primary" type="submit" value="提交"
							style="float: left">
					</form>
				</div>
				<ul class="store-info">
					
				</ul>
			</div>
            <div class="main-sercive">银行信息。。</div>
        </div>
    </div>
    <div class="masking">
        <div class="scroller">
            <h3>添加服务产品</h3>
            <ul>
                <!-- <li>
                    <span>头像</span>
                    <button>选择图片</button>
                </li> -->
                <li>
                    <span>服务商名称</span>
                    <input class = "pvproname" type="text" placeholder="请输入服务商名称">
                </li>
                <li>
                    	<span class="ver-top">选择地区</span>
                    <select class="province" name="province">
						<option value="-1">-- 请选择省 --</option>
					</select>
						<select class="city" name="city">
							<option value="-1">-- 请选择市 --</option>
					</select>
						<select class="area" name="area">
						<option value="-1">-- 请选择县(区) --</option>
				</select>
				</li>
                <li>
                    <span class="ver-top">手机号</span>
                    <input class = "pvphone" type="text" placeholder="请输入手机号">
                </li>
                <li>
                    <span class="ver-top">微信</span>
                    <input class = "pvwechart" type="text" placeholder="请输入微信">
                </li>
                <li>
                    <span class="ver-top">QQ</span>
                    <input class = "pvqq" type="text" placeholder="请输入QQ">
                </li>
                <li>
                    <span class="ver-top">邮箱</span>
                    <input class = "pvemail" type="text" placeholder="请输入邮箱">
                </li>
            </ul>
            <button class="save">提交</button>
            <button class="cancel">取消</button>
        </div>
        <script src="/js/service_setting.js"></script>
</body>

</html>